*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: #032F3C;
}


.hero{
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url('./Images/main-scetion-food-image.avif') no-repeat center center/cover;
}


.contact{
    background-color: #032F3C;
}